# macOS files
.DS_Store

# Node.js dependencies
node_modules/

# Environment variables / secrets
.env
.env.*

# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Logs
*.log

# Temporary files
*.tmp